* {
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}
/* ======== General Styles ======== */
body {
    font-family: Arial, Helvetica, sans-serif;
    color: #000;
}
  
h1, h2, h3, h4, h5, h6,
a, p, figure, figcaption, address,
ul, label {
    margin: 0;
    padding: 0;
}

h1 {
    color: #fff;
    font-size: 38px;
    padding: 0 0 15px;
}

h4 {
    color: #fff;
    font-size: 18px;
    padding: 0 0 15px;
}

.strong {
    font-weight: bold;
}
/* ======== Colors ======== */
.yellow-color {
    color: #F6BC25;
}

.blue-color {
    color: #004A80;
}

.dark-gray-color {
    color: #4A4A4A;
}

.light-gray-color {
    color: #999999;
}
/*
========================
======== HEADER ======== 
========================
*/
.headerBgr {
    background-color: #004A80;
    padding: 20px 0 40px;
}

.top-nav {
    padding: 0 0 30px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: start;
        -ms-flex-align: start;
            align-items: flex-start;
    width: 100%;
}

.logo {
    width: 173px;
    height: 25px;
}

.search-ico {
    width: 23px;
    height: 23px;
}

.person-ico {
    width: 20px;
    height: 23px;
    margin: 0 0 0 15px;
}
/* ======== Form ======== */
.email-field {
    background: #fff;
    border: 1px solid #CCC;
    border-radius: 3px;
    -webkit-box-shadow: inset 0 -1px 4px 0 rgba(0, 0, 0, 0.10);
    box-shadow: inset 0 -1px 4px 0 rgba(0, 0, 0, 0.10);
    width: 100%;
    position: relative;
    margin-bottom: 10px;
  }

.email-field input {
    color: #4A4A4A;
    border: 0;
    width: 100%;
    height: 30px;
    height: 100%;
    padding: 15px;
    line-height: 30px;
    font-size: 18px;
    background: transparent;
}

.email-field label {
    color: #9B9B9B;
    font-size: 16px;
    font-weight: bold;
    letter-spacing: 1.92px;
    padding: 15px 0 0 12px;
    position: absolute;
    top: 0;
    left: 0;
    -webkit-transition: all 0.25s cubic-bezier(0.2, 0, 0.03, 1);
    -o-transition: all 0.25s cubic-bezier(0.2, 0, 0.03, 1);
    transition: all 0.25s cubic-bezier(0.2, 0, 0.03, 1);
    pointer-events: none;
}

.email-field.active {
    border: 1px solid #4A3B8F;
}
  
.email-field.error {
    border-color: #DC0015;
}
  
.email-field label.error {
    font-size: 15px;
    text-transform: none;
    letter-spacing: normal;
    color: #DC0015;
    top: 50px;
    left: -3px;
}
  
.bv-input-people.error {
    border-color: #FFDBDF;
    -webkit-box-shadow: inset 0 -1px 4px 0 #FFDBDF;
    box-shadow: inset 0 -1px 4px 0 #FFDBDF;
}

.btn {
    background: #f6bc25; 
    background: -moz-linear-gradient(left,  #f6bc25 0%, #f2da56 100%); 
    background: -webkit-linear-gradient(left,  #f6bc25 0%,#f2da56 100%);
    background: linear-gradient(to right,  #f6bc25 0%,#f2da56 100%); 
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#f6bc25', endColorstr='#f2da56',GradientType=1 ); 
    color: #004A80;
    border-radius: 6px;
    border-bottom: 3px solid #A6953B;
    font-weight: bold;
    font-size: 22px;
    padding: 10px 20px;
    width: 100%;
    text-align: center;
    -webkit-transition: all 0.25s ease-out;
    -o-transition: all 0.25s ease-out;
    transition: all 0.25s ease-out
  }
  
.btn:hover {
    background: #F2DA56 ;
    text-decoration: none;
    color: #004A80;
    -webkit-box-shadow: 0 1px 3px 0 rgba(60, 64, 67, 0.3), 0 4px 8px 3px rgba(60, 64, 67, 0.15);
    box-shadow: 0 1px 3px 0 rgba(60, 64, 67, 0.3), 0 4px 8px 3px rgba(60, 64, 67, 0.15);
  }
  
.btn:focus {
    -webkit-box-shadow: none;
    box-shadow: none;
  }

  .privacy-area {
    padding: 0 0 0 25px;
    margin: 20px 0 0;
    font-size: 16px;
    background: url('../images/lock.svg') no-repeat 0 0 transparent;
  }
/*
========================
======== CONTENT ======== 
========================
*/

/*
========================
======== FOOTER ======== 
========================
*/